[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/misbah2018
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/misbah2018
	label-Verified = -1..+1 group user/misbah2018
	push = group user/misbah2018
	read = group user/misbah2018
	rebase = group user/misbah2018
	removeReviewer = group user/misbah2018
	submit = group user/misbah2018
[access "refs/heads/*"]
	create = group user/misbah2018
	push = +force group user/misbah2018
	pushMerge = group user/misbah2018
	read = group user/misbah2018
[access "refs/tags/*"]
	push = group user/misbah2018
	push = +force group user/misbah2018
